# URL de la API del Backend
VITE_API_URL="https://tu-api.com"

# Supabase (para Auth y Producto/Subida de imágenes)
VITE_SUPABASE_URL="tu_url_de_supabase_aqui"
VITE_SUPABASE_ANON_KEY="tu_anon_key_aqui"

# Sentry (Opcional)
VITE_SENTRY_DSN="tu_dsn_de_sentry_aqui"
